body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #f0f0f0;
}

.login-container {
  width: 100%; /* Lebar penuh untuk perangkat mobile dan tablet */
  max-width: 300px; /* Lebar maksimum untuk desktop */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.quiz-container {
  width: 100%; /* Lebar penuh untuk perangkat mobile dan tablet */
  max-width: 600px; /* Lebar maksimum untuk desktop */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Media query untuk perangkat dengan lebar kurang dari 768px (mobile) */
@media screen and (max-width: 767px) {
  .login-container, .quiz-container {
    max-width: none;
  }
}
